div {
	display: inline-block;
	margin-left: 5px;
	height:100px;
	width:100px;
	border-radius:100%;
	border:2px solid black;
}
.family{
    position:relative;
}


.friend{
    border: 2px dashed #008000;
}